/src/Carbon.Media.suo
/src/Carbon.Media/Carbon.Media.csproj.user
/src/Carbon.Media.Tests/bin/
/src/Carbon.Media.Tests/obj/
/src/Carbon.Media/bin/
/src/Carbon.Media/obj/
/release/
/src/Carbon.Media.v11.suo